.audio-player {
    width: 400px;
}

.audio-card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 50px;
}

.thumbnail {
    width: 200px;
    height: 250px;
}

.title { 
    font-size: 24px;
    font-weight: 400;
    margin: 5px 0px;
}

.subheading {
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px;
}